div.Room-wrapper {
  min-height: 100vh;
  padding: 3em 3em 1em 3em;
}

div.Room-main > section.Room-section {
  padding: 3em 5em 3em 5em;
}

.Room-section h2 {
  margin-bottom: 0.2em;
}

ol > li {
  list-style-type: none;
}